<h3 class="mb-3 font-weight-bold">{{ experience|upper }}</h3>
{% for key, value in exp_dict.items %}
<h5 class="card-title">{{ value.title }}</h5>
<h5 class="card-subtitle text-primary font-weight-bold">{{ key }}</h5>
<small class="text-muted text-wrap mr-4">
    <i class="bi bi-calendar3"></i> {{ value.start }}-{{ value.end }}
</small>
<small class="text-muted text-wrap">
    <i class="bi bi-geo-alt-fill"></i> {{ value.location }}
</small>
<ul class="mt-2">
    {% for i in value.responsibilities %}
    <li class="text-justify" style="line-height: 1.35em;">{{ i }}</li>
    {% endfor %}
</ul>
{% endfor %}