---
import Navigation from '../components/Navigation.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />

    <h1>DevOps</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/dev-ops/post-01/">Post 1</a></li>
    </ul>
    <h1>Data Engineer</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/posts/data-engineer/post-01/">Post 1</a></li>
      <li><a href="/posts/data-engineer/post-02/">Post 2</a></li>
    </ul>

  </body>
</html>
