---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="DevSpace">
	<main class="mx-auto p-4 max-w-4xl text-white text-lg leading-relaxed">
		<h1 class="text-4xl font-bold leading-none text-center mb-4">
			Welcome to my <span class="bg-gradient-to-r from-blue-500 to-sky-300 bg-clip-text text-transparent">DevSpace</span>
		</h1>
		<p class="border border-blue-500 bg-gradient-to-r from-blue-500 to-sky-600 p-6 rounded-lg text-gray-100">
            Hey there! 😎👍 With nearly 7 years of using
            <Icon name="devicon:linux" class="inline w-8 h-8 mx-1 align-middle" />
            (Debian), I’m your <code class="text-s font-bold bg-opacity-10 text-blue-200 bg-blue-600 rounded px-1">DevOps Engineer</code>
            with a passion for <code class="text-s font-bold bg-opacity-10 text-blue-200 bg-blue-600 rounded px-1">Data Engineering</code>.
            I geek out over
            <Icon name="devicon:python" class="inline w-8 h-8 mx-1 align-middle" />,
            <Icon name="devicon:rust" class="inline w-8 h-8 mx-1 align-middle" />, and
            <Icon name="devicon:kotlin" class="inline w-8 h-8 mx-1 align-middle" />
            and love diving into new challenges to create awesome results.
        </p>
		<Navigation />
		<ul role="list" class="grid grid-cols-1 md:grid-cols-2 gap-4 p-0">
			<Card
				href="#"
				title="DevOps & Cloud Architectures"
				body="Explore my DevOps projects, showcasing a variety of cloud architectures implemented across multiple frameworks."
			/>
			<Card
				href="#"
				title="Data Engineering"
				body="Discover my data engineering projects, where I design robust data pipelines to transform raw data into insights."
			/>
			<Card
				href="#"
				title="Projects"
				body="Here’s a collection of my personal projects in Data Science and AI, showcasing innovative solutions and hands-on experience in the field."
			/>
			<Card
			    href="#"
		        title="Civil Engineering Projects"
                body="Explore my projects in civil engineering, where I integrate coding and technical skills to solve real-world engineering challenges."
			/>
		</ul>
		<Footer />
	</main>
</Layout>
