{{ $lang := .Site.Language.Lang }} {{ $basic := .Site.Data.resume_2025.basic }}
{{ $data := .Site.Data.resume_2025.english }}
<!-- fallback -->

{{ if eq $lang "en" }} {{ $data = .Site.Data.resume_2025.english }} {{ else if
eq $lang "sp" }} {{ $data = .Site.Data.resume_2025.spanish }} {{ else if eq
$lang "pt" }} {{ $data = .Site.Data.resume_2025.portuguese }} {{ end }}

<div class="header-main">
    <div class="name-content">
        <div class="name-title">
            <h1>{{ $basic.NAME }}</h1>
            <h3 class="professional-title">
                {{ $basic.BOOTCAMP }} - {{ $basic.SELF_THOUGHT }}
            </h3>
            {{ range $data.ABOUT_DESCRIPTION }}
            <p>{{ . }}</p>
            {{ end }}
        </div>

        <div class="contact-links">
            <a
                href="https://wa.me/{{ $basic.PHONE }}"
                class="contact-link-small"
            >
                <i class="bi bi-telephone"></i> {{ $basic.PHONE }}
            </a>
            <a href="mailto:{{ $basic.GMAIL }}" class="contact-link-small">
                <i class="bi bi-envelope"></i> {{ $basic.GMAIL }}
            </a>
            <a href="https://github.com/jorgeav527" class="contact-link-small">
                <i class="bi bi-github"></i> {{ $basic.GITHUB }}
            </a>
            <a
                href="https://www.linkedin.com/in/jorgeav527/?locale=en_US"
                class="contact-link-small"
            >
                <i class="bi bi-linkedin"></i> {{ $basic.LINKEDIN }}
            </a>
            <a href="https://docs.cordstart.com/" class="contact-link-small">
                <i class="bi bi-globe"></i> {{ $basic.WEBPAGE }}
            </a>
        </div>
    </div>
</div>
