<div class="about">
    <input type="checkbox" id="about-trigger" class="about__checkbox" />
    <label for="about-trigger" class="about__trigger">About Me</label>
    <div class="about__dropdown">

        <h2 style="text-align: center;">
            {{ .Site.Params.author }}
        </h2>
        <img src="{{ .Site.Params.profileImage | default "/img/me.jpeg" }}"
            alt="{{ .Site.Params.author | default "Profile" }}"
            class="profile-image"
        />
        <p>
            With over 7 years of hands-on experience managing Linux (Debian) environments and developing solutions using Rust, Go, and Python, I excel at turning complex challenges into innovative, real-world results.
        </p>
        <p>
            I'm passionate about technology by hands-on experience as a DevOps Engineer and a deep interest in Data Engineering. I share technical insights, project stories, and lessons from my journey as a Software Engineer. With 7 years of experience working with and teaching Python, I bring a strong mathematical foundation from my background as a civil engineer.
        </p>
        <div class="social-links" style="margin-top: 20px">
            <div class="social-links">
                <a href="{{ .Site.Params.github }}" target="_blank">
                    GitHub
                </a>
                <a href="{{ .Site.Params.linkedin }}" target="_blank">
                    LinkedIn
                </a>
                <a href="{{ .Site.Params.youtube }}" target="_blank">
                    YouTube
                </a>
                <!-- <a href="{{ .Site.Params.resume }}" target="_blank">Resume PDF</a> -->
            </div>
        </div>
    </div>
</div>
