{{ define "cv-main" }}
<div class="cv-container">
    <!-- Header Section -->
    <header class="cv-header">{{ partial "resume/header.html" . }}</header>

    <main class="cv-content">
        <div class="">
            <!-- Experience Section -->
            <section class="content-section" id="experience">
                {{ partial "resume/experience.html" . }}
            </section>

            <!-- Skills Section -->
            <section class="content-section" id="skills">
                {{ partial "resume/skills.html" . }}
            </section>

            <!-- Projects Section -->
            <section class="content-section" id="projects">
                {{ partial "resume/projects.html" . }}
            </section>

            <!-- Feature Projects Section -->
            <section class="content-section" id="feature"></section>
        </div>
    </main>
</div>
{{ end }}
