<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title }}</title>
  
  <link rel="icon" href="{{ get_url(path='icon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ get_url(path='icon.svg') }}">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">

<script>
  // Explicitly set 'light' if stored, otherwise default EVERYTHING to 'dark'
  if (localStorage.getItem("theme") === "light") {
    document.documentElement.setAttribute("data-theme", "light");
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
  }
</script>

</head>

<body class="selection:bg-accent/30 selection:text-accent min-h-screen">

  {% include "navbar.html" %}

<main class="mx-auto max-w-5xl px-6 pt-16 md:pt-32 pb-20">
  <div class="flex justify-center w-full">
    <header class="flex flex-col md:flex-row items-center md:items-start gap-10 md:gap-16 mb-24 max-w-fit">

      <div class="shrink-0 relative group/photo">
        <img src="{{ get_url(path='me_01.png') }}" alt="Jorge Alarcón" 
             class="w-32 h-42 md:w-48 md:h-58 rounded-2xl object-cover shadow-2xl ring-3 ring-entry transition-all duration-300 hover:scale-105">
        
        <div class="absolute -bottom-12 -left-8 w-24 h-24 md:w-32 md:h-32 
                  drop-shadow-md transition-all duration-300
                  group-hover/photo:scale-110 group-hover/photo:-rotate-12">
          {% include "icon.html" %}
        </div>            
      </div>

      <div class="text-center md:text-left max-w-xl">
        <h1 class="text-3xl md:text-4xl font-black text-primary mb-4">
            Jorge Alarcón Vargas
        </h1>
        <div class="prose-catppuccin text-base">
          {{ section.content | safe }}
        </div>
        {% include "social_links.html" %}
      </div>
    </header>
  </div>
</main>
  <footer class="text-center py-auto text-xs text-secondary/40 font-mono">
    &copy; {{ now() | date(format="%Y-%b") }} by CordStart
  </footer>

  <script>
    const btn = document.getElementById("theme-toggle");
    const html = document.documentElement;

    btn.addEventListener("click", () => {
      // Check if we are currently dark
      const isDark = html.getAttribute("data-theme") === "dark";
      
      // Switch to the opposite
      const newTheme = isDark ? "light" : "dark";
      
      html.setAttribute("data-theme", newTheme);
      localStorage.setItem("theme", newTheme);
    });
  </script>

  <script>
  const menuBtn = document.getElementById('menu-btn');
  const navMenu = document.getElementById('nav-menu');

  menuBtn.addEventListener('click', () => {
    navMenu.classList.toggle('hidden');
    navMenu.classList.toggle('flex'); // Ensures it uses flex when visible
  });
  </script>

</body>
</html>
