<div class="">
    <h2 class="text-xl font-bold text-slate-900 border-b border-slate-400 uppercase tracking-wide pt-2">
        {{ data.EXPERIENCE }}
    </h2>

    <div class="space-y-2 mt-2">
        {% for job in data.SOFTWARE_EXPERIENCES %}
        <div class="break-inside-avoid">
            <div class="flex justify-between items-baseline">
                <h4 class="text-[16px] font-bold text-slate-900 uppercase tracking-tight">
                    {{ job.title }}
                </h4>
                <span class="text-[11px] font-bold text-slate-600 uppercase">
                    {{ job.start }} — {{ job.end }}
                </span>
            </div>

            <div class="flex justify-between items-center mb-2">
                <div class="text-[13px] font-semibold text-slate-700">
                    {{ job.company }}
                    <span class="text-slate-700 mx-1">|</span>
                    <span class="text-slate-700">{{ job.type }}</span>
                </div>
                <div class="text-[11px] text-slate-600 italic">
                    {{ job.location }}
                </div>
            </div>

            <ul class="list-disc ml-4">
                {% for bullet in job.responsibilities %}
                <li class="text-[11.5px] text-slate-700 leading-snug text-justify pl-1">
                    {{ bullet }}
                </li>
                {% endfor %}
            </ul>

            <div class="flex flex-wrap items-center mt-2 text-[10px]">
                <span class="font-bold text-slate-700 uppercase tracking-wider mr-2">Stack:</span>
                {% for tool in job.tools %}
                <span class="text-slate-700 whitespace-nowrap">{{ tool }}</span>
                {% if not loop.last %}
                <span class="text-slate-700 mx-2">|</span>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
