<header class="">
    <div class="flex flex-row justify-between items-start mb-1">
        <div class="flex-1">
            <h1 class="text-2xl font-extrabold text-slate-900 tracking-tighter uppercase leading-none">
                {{ basic.NAME }}
            </h1>
            <div class="flex items-center gap-2 mt-2 text-[15px] font-bold uppercase tracking-tight text-slate-600">
                <span>{{ basic.SELF_THOUGHT }}</span>
                <span class="text-slate-400">|</span>
                <span>{{ basic.BOOTCAMP }}</span>
            </div>
            <div class="flex flex-wrap items-center text-[10px]">
                <a href="mailto:{{ basic.GMAIL }}" class="text-slate-700 whitespace-nowrap">
                    {{ basic.GMAIL }}
                </a>
                <span class="text-slate-700 mx-2">|</span>

                <a href="https://wa.me/{{ basic.PHONE }}" class="text-slate-700 whitespace-nowrap">
                    {{ basic.PHONE }}
                </a>
                <span class="text-slate-700 mx-2">|</span>

                <a href="https://{{ basic.GITHUB }}" class="text-slate-700 whitespace-nowrap">
                    {{ basic.GITHUB }}
                </a>
                <span class="text-slate-700 mx-2">|</span>

                <a href="https://www.{{ basic.LINKEDIN }}" class="text-slate-700 whitespace-nowrap">
                    {{ basic.LINKEDIN }}
                </a>
                <span class="text-slate-700 mx-2">|</span>

                <a href="https://{{ basic.WEBLOG }}" class="text-slate-700 whitespace-nowrap">
                    {{ basic.WEBLOG }}
                </a>
            </div>
        </div>
    </div>

    <div class="text-[11px] text-slate-800 leading-normal text-justify border-t border-slate-400 pt-1 mt-2">
        {% for p in data.ABOUT_DESCRIPTION %}
        <p>{{ p }}</p>
        {% endfor %}
    </div>
</header>
