{% extends "base_resume.html" %}

{% block content %}
{% set basic = load_data(path="data/resume/2026/basic.yml") %}

{% set current_lang = lang | default(value="en") %}

{% if current_lang == "es" %}
{% set data = load_data(path="data/resume/2026/spanish.yml") %}
{% elif current_lang == "pt" %}
{% set data = load_data(path="data/resume/2026/portuguese.yml") %}
{% else %}
{% set data = load_data(path="data/resume/2026/english.yml") %}
{% endif %}

<div class="flex flex-col space-y-8">
    <header class="border-b-2 border-red-600 pb-6">
        {% include "resume/2026/header.html" %}
    </header>

    <main class="grid grid-cols-1 gap-8">
        <section id="experience">
            {% include "resume/2026/experience.html" %}
        </section>

        <section id="skills" class="grid grid-cols-2 gap-8">
            <div>
                {% include "resume/2026/skills.html" %}
            </div>
            <div id="education">
                {# You can move the Education part of skills.html here if you want #}
            </div>
        </section>
    </main>
</div>
{% endblock content %}
